p{
    font-size: 25px;
}
ol{
    font-size: 20px;
}
h1{
    /* color: red; */
    /* color: #808520; */
    /* color: rgb(155, 10, 245) */
    /* color: rgba(255, 0, 0, 0.666);a=alpha which decide the brightness of the colour its value is from 0 to 1*(defualt)*/
    color: hsl(256, 50%, 50%);
}