@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
/* h1{
    font-style: oblique;
}
p{
    font-style: italic;
    font-weight: bold;
} */
p{
    font-size: 32px;
    line-height: 1.5;
    word-spacing: 15px;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 5px;
    text-decoration-style:wavy;
    word-spacing: 8px;
     text-indent: 20px;/*add some space before first line  */
    text-align: center;
}
*{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}
.overflow{
    width: 250px;
    border: 2px solid red;
    /* text-overflow: ellipsis;
    overflow: hidden; */
    word-break: break-all;
}
