.container{
    border: 3px solid black;
    display: flex;
    height: 80vh;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* flex flow : flex-direction flex-wrap */
    /* flex-flow: row wrap; */
    /* gap: 30px; */
    /* row-gap: 25px;
    column-gap: 50px; */
    /* short-hand for row and colum gap */
    gap: 45px 20px;
}
.items{
    /* flex-grow: 1; */
    height: 55px;
    width: 55px;
    background-color: aqua;
    /* margin: 4px; */
    border: 2px solid black;
}

/* .order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
} */
/* .item1{
    align-self: flex-start;
    flex-grow: 3;
} */