/* .box::first-line{
    color: aqua;
} */

.boxes * {
    color: red;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
/* atribute selector 
*/
/* [data-color="main"]{
    padding: 0;
} */
/* 
.box:nth-child(even){
    background-color: rgb(83, 255, 255);
} */
/* 
.boxes::before{
    content: "hello brooooooooo";
    color: red;
}
.boxes::after{
    content: "helllooooooooooooooooooooooooooo";
    color: blue;
} */
/* if we lkesve it empty it will apply to all */
::selection{
    background-color: black;
    color: aqua;
}

.box::first-letter{
    color:blue;
    font-size: 60px;
}
input::placeholder{
    color: peru;
    font-size :15px;
}